
.icon-upnayan:before { content: '\e800'; } /* '' */
.icon-ganesha:before { content: '\e801'; } /* '' */
.icon-namaste:before { content: '\e802'; } /* '' */
.icon-kalasha:before { content: '\e803'; } /* '' */
.icon-rama-2:before { content: '\e805'; } /* '' */
.icon-swastik:before { content: '\e806'; } /* '' */
.icon-wedding_instruments:before { content: '\e807'; } /* '' */
.icon-babygirl:before { content: '\e808'; } /* '' */
